.first,
.second,
.three,
.four,
.five {
  width: 100%;
  min-height: 100vh;
  height: max-content;
  display: flex;
}

.first .left {
  flex: 1;
  height: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.first .left main {
  padding: 4rem;
}

.first .left main > * {
  margin: 1rem 0;
}

.first .left main h2 {
  font-weight: 700;
  font-size: 35px;
}

.first .left main label {
  padding: 3px;
  background-color: skyblue;
  border-radius: 4px;
  display: block;
  border: 1px solid gray;
  width: max-content;
}

.first .left main p {
  line-height: 30px;
  font-size: 18px;
}

.first .left button,
.second .content article button,
.three .content_details button {
  width: 200px;
  background-color: cornflowerblue;
  height: 35px;
  border-radius: 4px;
  border: 1px solid rgb(15, 15, 15);
  cursor: pointer;
  text-transform: capitalize;
}

.first .right {
  flex: 1;
  background: url("/profile.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.second .content main h1 {
  margin: 1rem;
}

.second .content main h1 .name {
  font-weight: 600;
}

.second .content main h1 .job {
  font-weight: 300;
}

.second .content main p {
  font-size: 18px;
  margin: 1rem;
  text-align: justify;
}

.second .content article {
  margin: 4rem 1rem;
  width: 90%;
}

.second .content article p {
  font-size: 18px;
  text-align: justify;
  margin: 0.5rem 0;
}

.second .content article .author {
  display: block;
  text-align: right;
  margin-bottom: 1rem;
}

.second .content article button {
  background-color: rgb(67, 203, 176);
  display: block;
  margin: auto;
}

.three .centerBox {
  width: 100%;
  text-align: center;
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.three .centerBox > * {
  margin: 1rem;
}

.three article {
  text-transform: capitalize;
}

.content .content_title h1 {
  font-size: 22px;
  text-transform: uppercase;
  font-weight: 500;
}

.right_content .content .content_details article {
  width: 30%;
  height: 100%;
}

.right_content .content .content_details,
.resume_details {
  display: flex;
  justify-content: flex-start;
  margin-top: 5rem;
  gap: 20px;
  position: relative;
  flex-wrap: wrap;
}

.resume_details article {
  flex: 1 0 30%;
  margin-bottom: 2rem;
}

.resume_details article h1 {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 1rem;
}

.resume_details article span {
  font-size: 14px;
  font-weight: 600;
}

.resume_details article ul > li {
  list-style: inside;
  list-style-type: square;
}

.four {
}

.four .content_details article {
  width: 30%;
}

.four .content_details article a {
  display: inline-block;
  position: relative;
}

.four .content_details article img {
  width: 100%;
  cursor: pointer;
}

.four .content_details article a span {
  position: absolute;
  display: none;
}

.four .content_details article a:hover img {
  opacity: 0.2;
}

.four .content_details article a:hover span {
  display: block;
  left: 50%;
  transform: translateX(-50%);
  top: 50%;
  color: black;
  font-weight: 600;
}

.four .content_details article p {
  font-size: 16px;
  line-height: 25px;
}

.five .right_content .content {
  margin-top: 4rem;
}

.five .right_content .content h1 {
  text-align: center;
  font-weight: 600;
  font-size: 30px;
}

.five .right_content .content_icons {
  display: flex;
  flex-wrap: wrap;
}

.five .right_content .content_icons article {
  flex: 1 0 40%;
  height: 100px;
  margin: 2rem 0 2rem 2rem;
}

.five .right_content .content_icons article a {
  display: flex;
  align-items: center;
  gap: 1rem;
  text-decoration: none;
  color: black;
  text-transform: capitalize;
}

.five .right_content .content_icons article .icon {
  font-size: 50px;
}

.five .content a {
  display: block;
  text-align: center;
}

.five .content .lastButton {
  padding: 10px;
  text-decoration: none;
  background-color: lightgreen;
  border: 1px solid black;
  border-radius: 4px;
  color: black;
  width:fit-content;
  width: -moz-fit-content;
  margin: auto;
  display: block;
}

.right_content {
  flex: 1;
  padding: 4rem 2.5rem;
  display: flex;
  flex-direction: column;
  background-color: white;
  position: relative;
}

.right_content .content_details {
  flex: 1;
}

.title_box {
  display: block;
  padding: 1rem;
  border: 2px dotted black;
  text-transform: uppercase;
  text-align: center;
  font-size: 26px;
}

.right_content .content .content_title {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 2rem;
  flex-wrap: wrap;
}

@media (max-width: 1000px) {
  .first,
  .second,
  .three,
  .four,
  .five {
    min-height: max-content;
    height: auto;
  }

  .first .right {
    display: none;
  }

  .first .left main {
    padding: 1rem;
  }

  .right_content {
    padding: 1rem 0.5rem;
  }
}

@media (max-width: 500px) {
  .first .left main h2 {
    text-align: center;
  }

  .right_content {
    padding: 0.5rem;
  }

  .title_box {
    padding: 0;
    width: 90%;
    margin: auto;
    font-size: 18px;
  }

  .second .content main h1 {
    margin: 1rem 0.5rem;
    font-size: 22px;
  }

  .second .content main p {
    font-size: 18px;
    margin: 0.5rem;
  }

  .second .content article {
    margin: 1rem;
  }

  .three .resume_details {
    margin: 0.5rem 2rem;
    flex-direction: column;
  }

  .three .resume_details article {
    margin-bottom: 1rem;
  }

  .four .content_details {
    flex-direction: column;
    margin: 0rem;
  }

  .four .content_details article {
    min-width: 90%;
    margin: auto;
  }

  .right_content .content .content_details {
    margin-top: 1rem;
  }

  .four .content_details article a {
    width: 100%;
  }

  .five .right_content .content_icons {
    flex-direction: column;
  }

  .five .right_content .content_icons article {
    width: 80%;
    margin: 2rem auto;
  }
}
